/src
/pkg
/cert
/sql
rm.txt
/lib
/node_modules
/static/dist/*-update.*
/typings
*.vscode
.babelrc
.dockerignore
.gitignore
package*.json
.eslintrc*
jsconfig.json
tsconfig.json
webpack.config.js
Dockerfile

